import type {
  Bridge,
  BridgeRow,
  ReadOptions,
  ReadResult,
  QueryOptions,
  QueryResult,
} from '@semilayer/core'

export interface {{NAME_PASCAL}}BridgeConfig {
  // TODO: connection options (host, port, credentials, etc.)
}

export class {{NAME_PASCAL}}Bridge implements Bridge {
  constructor(private readonly config: {{NAME_PASCAL}}BridgeConfig) {}

  async connect(): Promise<void> {
    // TODO: open connection / pool
    throw new Error('{{NAME_PASCAL}}Bridge.connect() not yet implemented')
  }

  async read(target: string, _options?: ReadOptions): Promise<ReadResult> {
    // TODO: paginated read with cursor
    throw new Error('{{NAME_PASCAL}}Bridge.read() not yet implemented')
  }

  async count(target: string): Promise<number> {
    // TODO: row count
    throw new Error('{{NAME_PASCAL}}Bridge.count() not yet implemented')
  }

  async query(
    target: string,
    _options: QueryOptions,
  ): Promise<QueryResult<BridgeRow>> {
    // TODO: filtered query (where / orderBy / limit / offset / select)
    throw new Error('{{NAME_PASCAL}}Bridge.query() not yet implemented')
  }

  async disconnect(): Promise<void> {
    // TODO: close connection / pool
    throw new Error('{{NAME_PASCAL}}Bridge.disconnect() not yet implemented')
  }
}
